body {
    width: 100%;
  }

header {
text-align: center;
position:fixed;
top:0;
background-color: DarkSalmon;
color: blue;
width: 100%;
height:50px;
padding:10px 0;
  }

footer {
  text-align: center;
  position:fixed;
  bottom:0;
  background-color: DarkSalmon;
  color: blue;
  width: 100%;
  height:50px;
  padding:10px 0;
  }
  body {
  padding-top: 60px;
   padding-bottom: 40px;
  display:flex;
  }
  
  .box {
    float: left;
    width: 33.33%;
    padding: 20px;
    border: 2px solid black;
  }
  
  * {
    box-sizing: border-box;
  }